/* for Clerk */

.cl-pageContainer {
  background-color: black;
}
.cl-userButtonAvatarBox {
  width: 3rem ;
  height: auto;
}


/* Aurora Background */
@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

